<h1><%= @user.username %></h1>
<article>
  <div class="message is-dark">
    <p>Full name:</p>
  </div>
  <div class="message-body">
    <%= @user.full_name %>
  </div>
  <div class="message is-dark">
    <p>Favourite Character:</p>
  </div>
  <div class="message-body">
    <%= @user.character.name %>
  </div>
  <div class="message is-dark">
    <p>Favourite Location:</p>
  </div>
  <div class="message-body">
    <%= @user.location.name %>
  </div>
  <div class="message is-dark">
    <p>Favourite Episode:</p>
  </div>
  <div class="message-body">
    <%= @user.episode.name %>
  </div>
  <div class="message is-dark">
    <p>Favourite Show:</p>
  </div>
  <div class="message-body">
    <%= @user.show.name %>
  </div>
</article>
